thesis/
antibiotics/אנטיביוטיקה .docx
*.pyc
.idea/
*_multi_grid_*/

GVHD_BAR/GridSearch_*
subject_test_100_processes_mse_false/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_train_values.npy
subject_test_100_processes_mse_false/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_train_predicted_values.npy
subject_test_100_processes_mse_false/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_test_values.npy
subject_test_100_processes_mse_false/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_test_predicted_values.npy
subject_test_100_processes_mse_false/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/hist_res.p
subject_test_100_processes_mse_false/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/grid_search_results.txt
subject_test_100_processes_mse_false/grid_search_results.txt
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=True/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_train_values.npy
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=True/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_train_predicted_values.npy
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=True/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_test_values.npy
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=True/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_test_predicted_values.npy
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=True/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/hist_res.p
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=True/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/grid_search_results.txt
Microbiome.egg-info/top_level.txt
Microbiome.egg-info/requires.txt
Microbiome.egg-info/dependency_links.txt
Microbiome.egg-info/SOURCES.txt
Microbiome.egg-info/PKG-INFO
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=False/l2=17.5^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_predicted_values.npy
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=False/l2=17.5^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_values.npy
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=False/l2=17.5^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_predicted_values.npy
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=False/l2=17.5^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/hist_res.p
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=False/l2=17.5^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/grid_search_results.txt
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=False/grid_search_results.txt
subject_test_100_processes_mse_true/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_train_values.npy
subject_test_100_processes_mse_true/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_train_predicted_values.npy
subject_test_100_processes_mse_true/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_test_values.npy
subject_test_100_processes_mse_true/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_test_predicted_values.npy
subject_test_100_processes_mse_true/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/hist_res.p
subject_test_100_processes_mse_true/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/grid_search_results.txt
subject_test_100_processes_mse_true/grid_search_results.txt
subject_test_100_processes_FALse/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/grid_search_results.txt
subject_test_100_processes_FALse/grid_search_results.txt
reports/~WRL2516.tmp
reports/~$crobiome_report.docx
reports/microbiome_report.docx
GVHD_BAR/subject_test/l2=16^dropout=0^factor=10^epochs=20^number_iterations=1^number_layers=1^neurons_per_layer=20/y_train_predicted_values.npy
GVHD_BAR/subject_test/l2=16^dropout=0^factor=10^epochs=20^number_iterations=1^number_layers=1^neurons_per_layer=20/y_test_values.npy
GVHD_BAR/subject_test/l2=16^dropout=0^factor=10^epochs=20^number_iterations=1^number_layers=1^neurons_per_layer=20/y_test_predicted_values.npy
GVHD_BAR/subject_test/l2=16^dropout=0^factor=10^epochs=20^number_iterations=1^number_layers=1^neurons_per_layer=20/hist_res.p
GVHD_BAR/subject_test/l2=16^dropout=0^factor=10^epochs=20^number_iterations=1^number_layers=1^neurons_per_layer=20/grid_search_results.txt
GVHD_BAR/subject_test/l2=15^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_values.npy
GVHD_BAR/subject_test/l2=15^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_predicted_values.npy
GVHD_BAR/subject_test/l2=15^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_values.npy
GVHD_BAR/subject_test/l2=15^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_predicted_values.npy
GVHD_BAR/subject_test/l2=15^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/hist_res.p
GVHD_BAR/subject_test/l2=15^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/grid_search_results.txt
subject_test_100_processes_true/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_values.npy
subject_test_100_processes_true/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_predicted_values.npy
subject_test_100_processes_true/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/hist_res.p
subject_test_100_processes_true/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/grid_search_results.txt
subject_test_100_processes_true/grid_search_results.txt
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=True/l2=17.5^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_values.npy
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=True/l2=17.5^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_predicted_values.npy
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=True/l2=17.5^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_values.npy
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=True/l2=17.5^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_predicted_values.npy
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=True/l2=17.5^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/hist_res.p
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=True/l2=17.5^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/grid_search_results.txt
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=True/grid_search_results.txt
subject_test_100_processes_myloss_USE_SUBJECT_ONLY_TEST_TRAIN=False/l2=17.5^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_values.npy
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=True/grid_search_results.txt
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=False/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_train_values.npy
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=False/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_train_predicted_values.npy
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=False/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_test_values.npy
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=False/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/y_test_predicted_values.npy
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=False/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/hist_res.p
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=False/l2=0.001^dropout=0.5^factor=10^epochs=10^number_iterations=5^number_layers=2^neurons_per_layer=20/grid_search_results.txt
subject_test_100_processes_mse_USE_SUBJECT_ONLY_TEST_TRAIN=False/grid_search_results.txt
subject_test_100_processes_FALse/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_values.npy
subject_test_100_processes_FALse/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_predicted_values.npy
subject_test_100_processes_FALse/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_values.npy
subject_test_100_processes_FALse/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_predicted_values.npy
subject_test_100_processes_FALse/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/hist_res.p
GVHD_BAR/subject_test/l2=20^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_values.npy
GVHD_BAR/subject_test/l2=20^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_predicted_values.npy
GVHD_BAR/subject_test/l2=20^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_values.npy
GVHD_BAR/subject_test/l2=20^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_predicted_values.npy
GVHD_BAR/subject_test/l2=20^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/hist_res.p
GVHD_BAR/subject_test/l2=20^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/grid_search_results.txt
GVHD_BAR/subject_test/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_values.npy
GVHD_BAR/subject_test/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_predicted_values.npy
GVHD_BAR/subject_test/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_values.npy
GVHD_BAR/subject_test/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_test_predicted_values.npy
GVHD_BAR/subject_test/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/hist_res.p
GVHD_BAR/subject_test/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/grid_search_results.txt
GVHD_BAR/subject_test/l2=16^dropout=0^factor=10^epochs=20^number_iterations=1^number_layers=1^neurons_per_layer=20/y_train_values.npy
subject_test_100_processes_true/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_values.npy
subject_test_100_processes_true/l2=16^dropout=0^factor=10^epochs=20^number_iterations=5^number_layers=1^neurons_per_layer=20/y_train_predicted_values.npy
GVHD_BAR/subject_test_100_processes_FALse/l2=16^dropout=0^factor=10^epochs=20^number_iterations=1^number_layers=1^neurons_per_layer=20/y_test_values.npy
GVHD_BAR/subject_test_100_processes_FALse/l2=16^dropout=0^factor=10^epochs=20^number_iterations=1^number_layers=1^neurons_per_layer=20/y_test_predicted_values.npy
GVHD_BAR/meirav code/mucositis/mucositis/General_Code/Entropy Functions/Entropy_For_Clustering_Results.m
GVHD_BAR/meirav code/
